.cart {
    width: 100vw;
    height: 100%;
    background-color: #eaeded;
}

.cart__container {
    width: 100%;
    margin-top: 99px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart__ammount {
    font-size: 18px;
    color: #242424;
    font-weight: 500;
}

.cart__area {
    display: flex;

}

.cart__left--top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12px;
    margin: 0;
}

.cart__top {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 105px;
    background-color: rgb(37, 85, 241);
}

.cart__top h1 {
    font-size: 22px;
}

.cart__top p {
    margin-top: -12px;
}

.cart__area {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 22px 12px 48px 22px;
    width: 100%;
}

.cart__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    margin-right: 12px;
}

.checkout--btn {
    cursor: not-allowed;
    transition: all 300ms ease;
    background-color: #ffc400;
    color: #242424;
}

.right__subtotal {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #242424;
}

.checkout--btn:focus {
  outline: none;
  box-shadow: none;
}

.checkout--btn::-moz-focus-inner {
  border: 0;
}

.right__two {
    font-size: 12px;
    color: rgb(161, 160, 160);
    font-weight: 500;
    text-align: center;
}

.checkout--btn:hover {
    opacity: 80%;
}

.sub-bold {
    font-weight: 700;
}

.cart__left {
    width: 65%;
    background-color: white;
    margin-right: 12px;
    padding: 12px 8px;
}

.cart__right {
    width: 30%;
    background-color: white;
}

.cart__right,
.cart__left {
    border-radius: 4px;
}

.cart__title {
    position: relative;
    font-size: 28px;
    color: #242424;
    font-weight: 400;
}

.item__left img {
    width: 200px;
    height: 200px;
}

.item__left {
    margin-right: 8px;
}

.cart__items {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px 12px;
}

.item__name {
    font-size: 18px;

    color: #242424;
}

.item__middle {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.item__right {
    color: #242424;
    width: 20%;
    display: flex;
    justify-content: end;
}

.cart__items::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: -1px;
    width: 100%;
    height: 0.5px;
    background-color: #80808075;
}

.cart__left--top::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: -1px;
    width: 100%;
    height: 0.5px;
    background-color: #80808075;
}

.cart__quantity {
    display: flex;
    justify-content: start;
    align-items: center;
}

.cart__quantity h1 {
    color: rgb(66, 82, 255);
    font-size: 14px;
    cursor: pointer;
    transition: all 300ms ease;
}

.cart__quantity h1:hover {
    opacity: 80%;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #ffc400;
  border-radius: 999px;
  overflow: hidden;
  height: 24px;
  width: 100px;
  background: #fff;
  margin-right: 12px;
}

.quantity__btn {
  width: 38px;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity__btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.quantity__btn {
  outline: none;
  border: none;
}

.quantity__btn:focus {
  outline: none;
  box-shadow: none;
}

.quantity__btn::-moz-focus-inner {
  border: 0;
}

.quantity__value {
  width: 40px;
  color: #242424;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
}

.cart__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shoppingcart {
    font-size: 24px;
    color: #ffc400;
}

.browse {
    background-color: #36485f;
    color: #fff;
}

.empty__text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty__text h1 {
    font-size: 22px;
    font-weight: 500;
    color: #242424;
}

@media (max-width: 690px) {
    .cart__area {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cart__left {
        width: 90%;
    }
    .cart__right {
        margin-top: 12px;
        width: 92%;
    }
}

@media (max-width: 653px) {
    .cart__top h1 {
        font-size: 18px;
    }
}

@media (max-width: 554px) {
    .cart__top h1 {
        font-size: 14px;
    }
}