.home {
    background-color: #eaeded;
    height: 100%;
    width: 100%;
}

.home__top {
    margin-top: 99px;
}

.home__top {
    height: 500px;
}

.upper-banner {
    position: relative;
}

.top-modules {
    position: absolute;
    top: 0;
}

.home__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 145px;
}

.home__middle--low {
    background-color: white;
    z-index: 30000000000000000000;
    border-top: 1px solid #8d8c8c57;
    border-bottom: 1px solid #8d8c8c57;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

.low__btn {
   background-color: #FFCC00;
   color: #242424;
}

.low__title {
    color: #242424;
    text-align: center;
    font-size: 18px;
}

.home__to-top {
    background-color: #344555;
    cursor: pointer;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__to-top h1 {
    text-align: center;
    font-size: 14px;
}

.home__to-top:hover {
    background-color: #3A4A5C;
}

@media (max-width: 995px) {
    .home__middle {
        margin-top: 624px;
    }
}

@media (max-width: 736px) {
    .home__middle {
        margin-top: 524px;
    }
}
@media (max-width: 686px) {
    .home__middle {
        margin-top: 484px;
    }
}