.home {
    background-color: #eaeded;
    height: 100vh;
    width: 100%;
}

.home__top {
    margin-top: 99px;
}

.home__top {
    height: 500px;
}

.upper-banner {
    position: relative;
}

.top-modules {
    position: absolute;
    top: 0;
}