.productPage {
    margin-top: 99px;
    height: 100%;
    background-color: white;
}

.product__page--actual {
    position: relative;
}

.reviews__modal {
    position: fixed;
    display: flex;
    top: 75%;
    left: 50%;
    width: 900px;
    height: 500px;
    background-color: white;
    z-index: 500000000;
    transform: translate(-50%, -75%);
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #b4b3b3;
}

.modal__overlay {
    position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

}

.xmark {
    font-size: 36px;
    color: #242424;
    position: absolute;
    top: 8px;
    right: 2px;
    cursor: pointer;
}

.xmark:hover {
    color: #434343;
}

.reviews__section {
    width: 100%;
    max-height: 490px;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.review__name,
.review__number,
.review__review {
    color: #242424;
}

.review__name {
    font-size: 18px;
}

.review__number {
    font-size: 14px;
}

.review__review {
    width: 480px;
}

.overall__img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #cdcdcd67;
    margin-bottom: 12px;
}

.review__product {
   background-color: #232F3E; 
   cursor: not-allowed;
}

.review__product:hover {
    background-color: #374a61; 
}

.overall__img img {
    width: 100%;
    height: 100%;
}

.overall__rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overall__rating h1 {
    font-size: 24px;
    color: #242424;
    margin-right: 4px;
}

.overall__title {
    color: #242424;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-bottom: 36px;
}

.review__rating {
    display: flex;
    align-items: center;
}

.photos__array--actual {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #cdcdcd;
    cursor: pointer;
}

.photos__array--actual:not(:last-child) {
    margin-right: 12px;
}

.details__left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 40px 40px 0px 40px;
    width: 40%;
}
.details__rating {
    display: flex;
}

.details__see--more {
    color: rgb(26, 123, 242);
    cursor: pointer;
}

.details__see--more:hover {
    color: rgba(26, 123, 242, 0.587);
}

.details__rating--stars {
    margin: 0 6px;
}

.details__rating--num {
    color: rgb(26, 123, 242);
}

.details__rating--act {
    color: #242424;
}

.details__middle {
    width: 40%;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
}

.details__right {
    width: 20%;
    margin: 0 40px;
}

.details__right--container {
    background-color: rgb(246, 246, 246);
    border-radius: 12px;
    height: 450px;
    width: 215px;
    padding: 12px 12px;
    border: 1px solid #74737344;
}

.photos__array--actual img {
    height: 100%;
    width: 100%;
}

.product__page--details {
    display: flex;
    padding: 0 22px;
    margin-bottom: 48px;
}

.details__photo--actual {
    width: 375px;
    height: 375px;
    border-radius: 4px;
    overflow: hidden;
        margin-bottom: 12px;
        border: 1px solid #cdcdcd67;
}

.details__photo--actual img {
    width: 100%;
    height: 100%;
}

.details__photos--array {
    display: flex;
}

.details__title,
.details__price,
.details__shipping,
.details__bottom--title,
.description__list--item {
    color: #242424;
}

.details__title {
    font-size: 28px;
}
.details__link {
    font-size: 14px;
    font-weight: 400;
    color: rgb(26, 123, 242);
    cursor: pointer;
}

.details__link:hover {
   color: rgba(26, 123, 242, 0.587); 
}

.details__middle--top {
    border-bottom: 1px solid #74737344;
    padding-bottom: 8px;
}

.details__price {
    font-size: 36px;
    font-weight: 500;
}

.star-1 {
    font-size: 12px;
    color: yellow;
}

.reviews__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 246, 246);
    width: 40%;
    padding: 12px 8px;
}

.reviews__right {
    width: 60%;
    padding: 12px 8px;
}

.details__bottom--title {
    font-size: 22px;
}

.description__list--item {
    margin-bottom: 12px;
    color: #4d4c4c;
    font-size: 16px;
}

.details__status {
    color: #242424;
    font-size: 16px;
}

.right__price {
    color: #242424;
    font-weight: 300;
    font-size: 24px;
    margin-top: -8px;
}

.right__shipping {
    color: rgb(26, 123, 242);
    margin-bottom: 24px;
}

.details__amount {
    font-weight: 400;
    color: green;
    font-size: 24px;
}

.right__shipping--location {
    display: flex;
    align-items: center;
}

.right__shipping--location h1 {
    color: #242424;
    font-weight: 500;
}

.location__icon {
    color: #242424;
}

.details__left h1 {
    display: none;
}

.details__btn {
    background-color: #FFD814;
    color: #242424;
    margin-bottom: 28px;
}

.right__seller,
.right__returns,
.right__payment {
    display: flex;
}

.right__seller h1,
.right__returns h1,
.right__payment h1 {
    font-weight: 400;
    font-size: 12px;
    color: #242424;
}

.right__seller h1:first-child,
.right__returns h1:first-child,
.right__payment h1:first-child {
    color: grey;
    margin-right: 12px;
}

.photos__array--actual {
    position: relative;
}

.photos__array--actual:after {
 content: "";
  position: absolute;
  bottom: -10px; 
  left: 0px;
  width: 0;
  height: 1px;
  background-color: #242424;
  transition: all 0.3s ease;
  z-index: 200;
  transition: all 0.3s ease;
  opacity: 70%;
}

.photos__array--actual.active::after {
  width: 100%; 
}

.product__page--lower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.new-2 {
    display: none;
    margin-bottom: 12px;
}

.top-2 {
    display: none;
}

.new__middle {
border-bottom: 1px solid #74737344;
}

@media (max-width: 1108px) {
    .details__photo--actual {
        width: 300px;
        height: 300px;
    }
    .details__left {
        margin: 40px 0px 0px 0px;
    }
}

@media (max-width: 975px) {
    .reviews__modal {
        width: 725px;
    }
    .review__review {
        width: 380px;
    }
}

@media (max-width: 973px) {
    .details__middle {
        margin: 0 0 0 40px;
    }
}

@media (max-width: 960px) {
    .details__right {
        display: none;
    }
    .new-2 {
        display: block;
        margin-top: 12px;
    }

    .details__left {
        margin: 40px 40px 0px 40px;
    }
}

@media (max-width: 790px) {
    .reviews__modal {
        flex-direction: column;
        width: 525px;
        height: 625px;
    }
    .reviews__left,
    .reviews__right {
        width: 100%;
    }
    .reviews__left {
        height: 40%;
        padding: 0;
    }
    .reviews__right {
        height: 60%;
    }
    .overall__img {
        display: none;
    }
    .overall__title {
        font-size: 14px;
    }
    .reviews__section {
        max-height: 365px;
    }
    .review__review {
        width: 90%;
    }
}

@media (max-width: 708px) {
    .details__left {
        margin: 40px 0px 0px 40px;
    }
    .product__page--details {
        padding: 0;
    }
}

@media (max-width: 628px) {
    .details__left h1 {
        display: block;
        color: #242424;
        font-size: 24px;
        text-align: center;
        width: 200%;
    }
    .details__title {
        display: none;
    }
    .product__page--details {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .details__left {
        margin: 0 0 24px 0;
    }

    .details__middle {
        margin: 0px;
        width: 100%;
    }

    .details__middle--top {
        border-top: 1px solid #74737344;
        display: flex;
        padding: 0 20px;
    }

    .top-2 {
        display: flex;
        justify-content: space-between;
    }

    .top-1 {
        display: none;
    }

    .new-2 {
        display: flex;
        justify-content: space-between;
        width: 450px !important;
        height: 250px !important;
    }

    .right__shipping {
        width: 200px;
    }

    .new__middle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ratings-2 {
        display: flex;
        flex-direction: column;
    }
    .details__middle--bottom {
        padding: 0 20px;
    }
}

@media (max-width: 590px) {
    .reviews__modal {
        width: 425px;
        height: 625px;
    }
}
