.MiddleBanners {
    width: 1298px;
    height: 250px;
    background-color: white;
    margin-bottom: 24px;
     box-shadow:
  0 10px 30px rgba(0, 0, 0, 0.25),
  0 40px 100px rgba(0, 0, 0, 0.45);
  z-index: 1000000;
  border-radius: 4px;
}

::-webkit-scrollbar {
  display: none;
}

.banner-title {
    color: #242424;
    font-size: 24px;
    margin-left: 12px;
}

.banner-title2 {
    font-size: 12px;
    color: blue;
}

.product__display--section {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.acutal__product {
    width: 150px;
    height: 150px;
    margin: 0 12px;
    flex: 0 0 auto;
}
.acutal__product img {
    width: 100%;
    height: 100%;
}

.middle-top__title {
    display: flex;
}

@media (max-width: 1324px) {
    .MiddleBanners {
        width: 1173px;
    }
}
@media (max-width: 1198px) {
    .MiddleBanners {
        width: 1074px;
    }
}
@media (max-width: 1099px) {
    .MiddleBanners {
        width: 974px;
    }
}
@media (max-width: 995px) {
    .MiddleBanners {
        width: 788px;
    }
}
@media (max-width: 836px) {
    .MiddleBanners {
        width: 739px;
    }
}
@media (max-width: 786px) {
    .MiddleBanners {
        width: 690px;
    }
}
@media (max-width: 736px) {
    .MiddleBanners {
        width: 638px;
    }
}
@media (max-width: 686px) {
    .MiddleBanners {
        width: 589px;
    }
}
@media (max-width: 636px) {
    .MiddleBanners {
        width: 538px;
    }
}
@media (max-width: 586px) {
    .MiddleBanners {
        width: 490px;
    }
}
@media (max-width: 536px) {
    .MiddleBanners {
        width: 480px;
    }
}
@media (max-width: 506px) {
    .MiddleBanners {
        width: 377px;
        margin-right: 15px;
    }
}



