.individual__product {
    width: 245px;
    height: 525px;
    border: 1px solid rgb(218, 216, 216);
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 8px 8px;
}

.product__img {
    width: 245px;
    height: 245px;
}

.productAct__title {
    font-weight: 600;
}

.add__cart {
    margin-bottom: 12px;
    background-color: #FFD814;
    color: #242424;
}

.product__rating {
    display: flex;
    align-items: center;
    justify-content: start;
}

.bold {
    font-weight: 700;
}

.lighter {
    font-weight: 400;
}

.blue {
    color: rgb(0, 94, 255);
}

.product__delivery {
    font-size: 12px;
}

.product__price {
    font-size: 28px;
    font-weight: 500;
}

.product__rating h1 {
    font-size: 12px;
}

.star {
    color: #FFD814;
    font-size: 12px;
    text-align: center;
}

.product__info {
    display: flex;
    flex-direction: column;
    margin: 0px 8px;
}

.h1 {
    color: #242424;
}

.product__img img {
    width: 100%;
    height: 100%;
}